body{
    padding: 70px 0 0 0;
    background-image: url('../images/admin1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-admin-section{
    margin-top: 100px;
}
.panel-style{
    border: none;
    background-color:rgba(0,0,0,.5)
}
.panel-default > .head{
    background-color:rgba(4, 6, 29, 0.637);
    border: rgba(0,0,0,.8)
}
.sec-title{
    color:#fff;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.data-input label{
    color:rgba(255,255,255,.8)
}
#co-img{
    opacity:0;
    width: 100%;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
#upload{
    position: absolute;
    left: 0;
    z-index: 1;
    text-align: center;
    width: 93%;
    margin-left: 15px
}
#submit-data{
    margin-top:10px;
}
