body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(242, 240, 240,.7);
    background-color:#DADFE1;

}
/* Nav-bar */
nav .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse{
    background-color:transparent;
}
.navbar-fixed-top.scrolled {
    background-color: rgba(56, 53, 53, 0.514) !important;
    color:#fff;
    transition: all 200ms linear;
  }
  .navbar-inverse .navbar-nav > li > a.change{
    color:#fff;
  }
.navbar-brand img{
    width: 55px;
    height: 41px;
    position: absolute;
    top:5px;
    border:1px solid transparent;
    border-radius: 15px;
}
.navbar-brand span h1{
    position: absolute;
    top: -13px;
    left: 89px;
    color:#fff
}
#brand{color:rgba(209, 29, 29, 0.884)}
.navbar-inverse .navbar-nav > li > a{
    padding:15px 25px;
    font-weight: bold;
    font-size:16px;
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    color:#163763;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: rgba(209, 29, 29, 0.884);
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgba(209, 29, 29, 0.884);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:#fff;
    background-color:#2C83AC;
    transition: all .5s ease-in-out;

}
/* icon bar */
.navbar-inverse .navbar-toggle .icon-bar{background:black}
/* drop down btn */
#dropdownbtn{
    cursor: pointer;
}

/* End Navbar*/

/* main section */

/* slider images */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img
{
    width: 100%;
    height: 100vh;
}
/* slider indicators */
.carousel-indicators .active
{
 background-color:#0b223e;
 border:1px solid black;
}
.carousel-indicators li
{
    border:1px solid gray;
}
.carousel-caption
{
    bottom:230px;
    color:rgb(226, 230, 235)
}
.carousel-caption span
{
    text-transform: capitalize;
    font-size:80px;
    font-weight: bold;
}
#forcast{
    color:rgba(209, 29, 29, 0.884)
}
/* start slider caption */ 
.carousel-caption p
{
    font-size:25px;
    font-weight: 700;
}
.cap-2{
    bottom:130px;
}

.cap-2 span{
    font-size:18px;
    color:rgb(236, 231, 227)
}
.cap-3{
    bottom: 190px;
}
.cap-3 a
{
    font-size:15px;
    font-weight: 600;
    padding: 12px;
}
.social a{
    font-size:10px;
    font-weight: 300;
    padding: 5px;
    margin:20px 5px;
}
.social .facebook{
    background-color:#4267B2;
}
.cap-3 span{
    font-size:12px;
    padding: 3px;
}
/* end slider caption */

/* start features section */

/* section title */
.section-title{background-color:rgba(28, 35, 49, 0.85);color:rgb(177, 173, 173);}
.section-title p{margin-top: 15px;line-height: 15px;font-weight: 700;text-transform: capitalize}
#features{
    background-color: rgba(217, 222, 224, 0.952);
    height:auto;
    color:rgba(12, 12, 12, 0.842);
    padding-bottom: 25px;
}
.row .feat{font-size:40px;}
/* feature detail */
.features-detail{font-size: 18px;margin-bottom: 15px;}
/* end features section */

/* newsletter section */
.home-newsletter
{
    background-color:#383F4B;
    padding:15px;
    height:225px;
}
.news-head
{
    color:#c7cccc;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.user-email
{
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus
{
    box-shadow: none;
    border-color: #5698ced8; 
}
.home-newsletter .single .btn 
{
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: rgba(179, 32, 32, 0.884);
    color: #fff;
}

/* products result */
.product-result{
    background: radial-gradient(rgb(146, 145, 140), rgb(189, 186, 176), rgb(199, 196, 182),#ADA996);
    padding-bottom: 15px;
}
.products
{
    font-size:35px;
    color:#2C2D2D;
    padding: 25px 12px;
    display: block;
}
/* products title */
.products-title
{
    color:#383F4B
}
.products-detail
{
    color:rgba(0,0,0,.8);
    font-size:16px;
}
.product-logo img{
    width:100%;
    height:300px;
}
.access-btn{margin-top: 15px;background: #383F4B;border:1px solid gray}
.access-btn:hover{background: rgba(179, 32, 32, 0.884)}
/* Contact us */
.location{background-color:#2F3542;padding-bottom: 150px;}

.google-image img{
    width: 100%;
    height: auto;
}
.input-group .inputs
{
    margin-bottom: 15px;
    height:50px;
    
}
.input-group .inputs::placeholder{color: #455B91}
.input-group textarea{resize: none;height:220px;}
.input-group textarea::placeholder{color: #455B91}
/* footer */
.top-footer{
    background-color:rgba(28, 35, 49,.95);
    padding: 15px;
}
.social-title{
    color:#fff;
    text-align:left;
}
.social-links{
    text-align: right;
    padding: 5.5px;
}
.social-links a{
    padding:5px;
    margin-left: 35px;
    margin-right: 0px;
    color:#fff;
    transition: all .5s ease-in-out;
}
.social-links a:hover{
    color:rgba(209, 29, 29, 0.884)
}
.text-center-xs{
    text-align: center
}

/*btm-footer */
.btm-footer{
    background-color:rgba(28, 35, 49, 0.9);
    padding:5px;
    color:#FFf;
}
.mt h5{
    margin-bottom: -10px;
}
hr{
    border:1px solid rgba(233, 34, 34, 0.884);
    width: 83px;
    margin-right: auto;
    margin-left: 0;
}
.ft-links{
    list-style-type: none;
}
.ft-p p{
    padding: 3px;
}
.ft-p a{
    text-decoration: none;
    color:#FFF;
}
.ft-p a:hover{
    color:rgb(233, 49, 3)
}
.copyright{
    background-color:rgba(28, 35, 49,.95);
    padding: 10px;
    color:#fff
}
