body{
    padding: 70px 0px 0px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


/* edite profile */

.profile-hr{
    border:1px solid #ddd;
    width:99.9%;
    box-shadow: 3px 3px 6px 1px rgb(158, 157, 157)
}
.profile h3{
    padding:10px 0;
    font-size:29px;
    color:rgba(63, 61, 61, 0.753)
}
.profile label{
    font-weight: 300;
}
.form label,input{
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    color:rgb(112, 112, 112)
}
.form input{
    width: 100%;
    border:1px solid rgb(192, 192, 192);
    border-radius: 10px;
    color:rgba(53, 51, 51,.8);
    transition: all .3s ease-in-out;
}
.form input:focus{
    box-shadow: 1px 1px 10px 1px rgb(67, 68, 70)
}
#bio{
    resize: none;
    width: 100%;
    height: 150px;
    border:1px solid rgb(192, 192, 192);
    border-radius: 10px;
    color:rgba(53, 51, 51,.8);
    padding: 10px;
    transition: all .3s ease-in-out;
}
.form textarea:focus{
    box-shadow: 1px 1px 10px 1px rgb(67, 68, 70)
}
.save-btn{
    margin-top:15px;
}
.save-btn button{
    padding: 12px;
    margin-bottom: 10px;
}
/* profile image */
.profile-img{
    border:1px solid rgb(194, 191, 191);
    box-shadow: 3px 3px 15px 1px rgb(173, 171, 171);
    border-radius: 10px;
    margin-bottom: 15px;
}
#upload{
    opacity: 0;
    cursor: pointer;
    
}
.upload-btn{
    background-color:#428bca;
    border:1px solid #357ebd;
    position: relative;
    border:1px solid rgb(59, 158, 223);
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
}
.upload-btn:hover{
    background-color:#316da1;
}
#btn-name{
    position: absolute;
    top:25%;
    right:30% ;
}

