.navbar-toggle{
  margin-right: 30px;
}
/*start dropdown-menu section*/
.dropd0wn{
  margin-top: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  min-height:70px;
}
.dropd0wn .container {
  background-color:rgba(3,3,3,.7);
  min-height:70px;
  padding-bottom: 10px;
  padding-top: 5px
}
.btn:hover span/*simbol(>)*/
{
  transform: translateX(2px);
  transition: all  ease-in-out .05s;
}
/*dropdown-menu*/
.dropd0wn-menu{
   padding: 2px 0;
   min-width: 200px;
   background-color: #2F3542;
   top: 10px;
   left: 263px;
   border: 1px solid #C02222;

  animation: animationFrames ease .5s;
  animation-fill-mode:both;}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(-50px,0px)  ;
  }
  60%,80%,100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
.dropd0wn-menu > li{float: left;}
.dropd0wn-menu > li > a{
     color:#d2d2d2;
     padding: 15px 26px;
     transition: padding 0.2s ease-in-out;
 }

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #C02222;
    border-color: #C02222;
    height: 55px;
    margin: 7px
  }
   .dropd0wn-menu > li > a:hover, .dropd0wn-menu > li > a:focus{
    background-color: #f22424;
    color: #fff;
    padding: 15px 26px;
 }

/*start drop section*/

/*start company-details section*/
.company-details .details{padding: 30px 0 50px 30px;}
.company-details .media{
  border: 2px solid #383F4B;
padding: 50px 0 50px 30px;
}
.company-details .media hr{
  width:460px;
  margin-top: 40px;
}
.company-details .media img{width: 50px;height: 50px}

.img-trand{padding-top: 100px}
.img-trand img{
  width:300px;
  height: 300px;
  margin: 20px
}
/*end company-details section*/
